@tailwind base;
@tailwind components;
@tailwind utilities;
  @layer base {
      :root {
        --background: 0 0% 98%;
        --foreground: 224 71% 4%;
        --card: 0 0% 100%;
        --card-foreground: 224 71% 4%;
        --popover: 0 0% 100%;
        --popover-foreground: 224 71% 4%;
        --primary: 220 14% 96%;
        --primary-foreground: 220 9% 46%;
        --secondary: 220 14% 96%;
        --secondary-foreground: 220 9% 46%;
        --muted: 220 14% 96%;
        --muted-foreground: 220 9% 46%;
        --accent: 220 14% 96%;
        --accent-foreground: 220 9% 46%;
        --destructive: 0 84% 60%;
        --destructive-foreground: 210 20% 98%;
        --border: 220 13% 91%;
        --input: 220 13% 91%;
        --ring: 262 83% 58%;
        --success: 142 76% 36%;
        --success-foreground: 355 7% 97%;
        --warning: 32 95% 44%;
        --warning-foreground: 355 7% 97%;
        --info: 221 83% 53%;
        --info-foreground: 355 7% 97%;
      }

      .dark:root {
        --background: 224 71% 4%;
        --foreground: 210 20% 98%;
        --card: 224 71% 4%;
        --card-foreground: 210 20% 98%;
        --popover: 224 71% 4%;
        --popover-foreground: 210 20% 98%;
        --primary: 210 20% 98%;
        --primary-foreground: 220 9% 46%;
        --secondary: 215 27% 17%;
        --secondary-foreground: 210 20% 98%;
        --muted: 215 27% 17%;
        --muted-foreground: 217 10% 65%;
        --accent: 215 27% 17%;
        --accent-foreground: 210 20% 98%;
        --destructive: 0 76% 60%;
        --destructive-foreground: 210 20% 98%;
        --border: 215 27% 17%;
        --input: 215 27% 17%;
        --ring: 263 70% 50%;
        --success: 142 76% 36%;
        --success-foreground: 355 7% 97%;
        --warning: 32 95% 44%;
        --warning-foreground: 355 7% 97%;
        --info: 221 83% 53%;
        --info-foreground: 355 7% 97%;
      }
  }